@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Quicksand', sans-serif;
}

.slick-dots li button:before {
    display: none;
}
.slick-dots{
    bottom: 10px !important;
}
.slick-dots li {
    margin: 0 !important;
}
.slick-dots li{
    height: 1em;
    width: 1em;
}
.slick-dots li button {
    border: 1px solid #ADADAD;
    border-radius: 50px;
    padding: 0;
    height: 10px;
    width: 10px;
}
.slick-dots li.slick-active button{
    background: #3BB77E;
    border-color: #3BB77E;
}