@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Quicksand", sans-serif;
}

.slick-dots {
  @apply bottom-[10px];
  li {
    @apply h-4 w-4 m-0.5;
    button {
      border: 1px solid #adadad;
      border-radius: 50px;
      padding: 0;
      height: 10px;
      width: 10px;
      &::before {
        display: none;
      }
    }
  }
  li.slick-active button {
    background: #3bb77e;
    border-color: #3bb77e;
  }
}
.react-tabs__tab {
  padding: 6px 6px !important;
  color: #253d4e;
  &--selected {
    border: none !important;
    color: #3bb77e !important;
    border-radius: 0 !important;
    font-weight: 600 !important;
  }
}
